@charset "UTF-8";
/* CSS Document */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
body * {
    position: absolute;
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#main_wrapper {
    position: absolute;
    display: block;
    width: 300px;
    height: 600px;
    overflow: hidden;
    background-color: #1940c5;
    opacity: 0;
}

#frame {
    position: absolute;
    display: block;
    width: 300px;
    height: 600px;
    border: 1px solid #000;
    z-index: 100;
}
#whiteFrame {
    position: absolute;
    display: block;
    width: 300px;
    height: 600px;
    background-color: #fff;
    z-index: 100;
}

.active#main_wrapper {
    opacity: 1;
}

#image1 {
    background: url('img/product.jpg') no-repeat;
    background-size: 300px 600px;
    width: 300px;
    height: 600px;
}

#copy11 {
    top: 159px;
	background: url('img/sprite.png') no-repeat 0px -159px;
	background-size: 300px 600px;
	width: 300px;
	height: 26px;
}

#copy12 {
    top: 197px;
	background: url('img/sprite.png') no-repeat 0px -197px;
	background-size: 300px 600px;
	width: 300px;
	height: 26px;
}

#copy13 {
    top: 235px;
	background: url('img/sprite.png') no-repeat 0px -235px;
	background-size: 300px 600px;
	width: 300px;
	height: 26px;
}

/*////////////////////////////////////////////////////// CTA //////////////////////////////////////////////////////////////*/

#CTA {
    left: 69px;
    top: 509px;
	background: url('img/sprite.png') no-repeat -69px -509px;
	background-size: 300px 600px;
	width: 162px;
	height: 22px;
}