.block-about {
	--cwp-image: 344px;
	min-height: var(--cwp-image);
	position: relative;
	align-items: center;
}

.block-about.cwp-large,
.block-about.cwp-large.has-background,
.editor-styles-wrapper .wp-block-cwp-about.has-background {
	padding: 0;
}

.block-about .block-about__inner,
.editor-styles-wrapper .block-about .block-about__inner {
	gap: 0;
}

.block-about__content {
	flex-basis: 0;
	flex-grow: 1;
	padding: var(--wp--custom--layout--block-gap);
}

@media only screen and (max-width: 760px) {

	.block-about .block-about__inner,
	.editor-styles-wrapper .block-about .block-about__inner {
		display: block;
	}

}

@media only screen and (min-width: 760px) {

	.block-about__image {
		align-self: stretch;
		width: var(--cwp-image);
		height: auto;
	}

	.block-about__image figure,
	.block-about__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.block-about__image > figure:not(.is-selected) > .components-resizable-box__container {
		height: 100% !important;
	}

	.block-about__content {
		padding: var(--wp--custom--layout--block-gap-large);
	}


}

.block-area-sidebar .block-about .block-about__inner {
	display: block;
}

.block-area-sidebar .block-about.has-background,
.block-area-sidebar .editor-styles-wrapper .has-background[data-type="cwp/about"] {
	padding: 0;
}

.block-area-sidebar .block-about .block-about__content {
	padding: 16px;
}

.block-area-sidebar .block-about__image {
	position: relative;
	width: 100%;
}
