.block-social-share a {
	padding: 0;
	width: 44px;
	height: 44px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.block-social-share a + a {
	margin-left: 12px;
}

.block-social-share svg {
	fill: var(--wp--preset--color--foreground);
}

.block-social-share a:where(:focus, :hover) svg {
	fill: var(--wp--custom--color--link-hover);
}

.social-share__title {
	font-family: var(--wp--custom--typography--interface--font-family);
	font-size: var(--wp--preset--font-size--small);
	letter-spacing: var(--wp--custom--typography--interface--letter-spacing);
	text-transform: var(--wp--custom--typography--interface--text-transform);
	line-height: var(--wp--custom--line-height--small);
	font-weight: 700;
	margin-bottom: 16px;
}

@media only screen and (min-width: 767px) {
	.block-social-share {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.social-share__title {
		margin-bottom: 0;
	}
}
