.block-affiliate-links__header:not(:empty) {
	margin-bottom: 16px;
}

.block-affiliate-links__inner {
	display: grid;
	grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
	gap: 8px;
}

div.block-affiliate-links__inner a {
	background: var(--wp--preset--color--background);
	border: 1px solid var(--wp--custom--color--neutral-200);
	display: block;
	padding: 4px 4px 12px;
	font-size: var(--wp--preset--font-size--min);
	line-height: var(--wp--custom--line-height--small);
	text-align: center;
	text-decoration: none;
}

div.block-affiliate-links__inner img {
	aspect-ratio: 1;
	object-fit: contain;
}

.block-affiliate-links__inner .aff-title {
	display: block;
	margin-top: 8px;
	color: var(--wp--preset--color--foreground);
	font-size: var(--wp--preset--font-size--small);
	font-weight: 700;
}

.block-affiliate-links__inner .aff-desc {
	text-decoration: underline;
}

.block-affiliate-links__inner a:where(:focus, :hover) .aff-desc {
	text-decoration: none;
}

.block-affiliate-links__inner .aff-title:not(:last-child) {
	margin-bottom: 4px;
}

@media only screen and (min-width: 820px) {
	.block-affiliate-links__inner {
		grid-template-columns: repeat( 4, minmax( 0, 1fr ) );
		column-gap: 16px;
	}

	.full-width-content .block-affiliate-links__inner {
		grid-template-columns: repeat( 6, minmax( 0, 1fr ) );
	}

}
