.block-pinterest-cta {
	background: var(--wp--preset--color--background);
	border: 1px solid var(--wp--custom--color--neutral-200);
	padding: 16px;
}

.block-pinterest-cta__title {
	font-size: var(--wp--preset--font-size--big);
	font-weight: 400;
	line-height: var(--wp--custom--line-height--small);
	margin: 0;
}

.block-pinterest-cta__icon {
	background: transparent;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.block-pinterest-cta .wp-element-button,
.editor-styles-wrapper .block-pinterest-cta .wp-element-button {
	background-color: var(--wp--preset--color--foreground);
	display: inline-block;
}

.editor-styles-wrapper .block-pinterest-cta a {
	pointer-events: none;
}

@media only screen and (max-width: 767px) {
	.block-pinterest-cta {
		text-align: center;
	}

	.block-pinterest-cta__title {
		margin: 12px 0 16px;
	}
}

@media only screen and (min-width: 768px) {
	.block-pinterest-cta {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.block-pinterest-cta__icon {
		margin-right: 16px;
	}

	.block-pinterest-cta a {
		margin-left: auto;
	}
}
