/* Post Summary */

.post-summary {
	background: var(--wp--preset--color--background);
	border: 1px solid var(--wp--custom--color--neutral-200);
	border-radius: 0px;
	overflow: hidden;
}

.post-summary__content {
	padding: 12px;
}

.post-summary .post-summary__content > * {
	margin: 0;
}

.post-summary .post-summary__content > * + * {
	margin-top: 10px;
}

.post-summary__title,
.editor-styles-wrapper .post-summary .post-summary__title {
	font-size: var(--wp--preset--font-size--large);
}

.post-summary__title a,
.editor-styles-wrapper .post-summary .post-summary__title a {
	color: var(--wp--preset--color--secondary);
	text-decoration: none;
}

.post-summary .post-summary__title a:where(:focus, :hover) {
	text-decoration: underline;
}

.post-summary__image img {
	width: 100%;
}

.post-summary .entry-category {
	font-family: var(--wp--custom--typography--interface--font-family);
	letter-spacing: var(--wp--custom--typography--interface--letter-spacing);
	text-transform: var(--wp--custom--typography--interface--text-transform);
	font-size: var(--wp--preset--font-size--min);
	font-weight: 400;
	line-height: var(--wp--custom--line-height--small);
	color: var(--wp--custom--color--neutral-600);
}

.post-summary .post-summary__excerpt {
	font-size: var(--wp--preset--font-size--tiny);
	line-height: var(--wp--custom--line-height--medium);
}

@media only screen and (min-width: 600px) {

	.layout-1up-featured .post-summary {
		box-shadow: none;
		border-radius: 0;
		position: relative;
		padding: 100px 80px;
	}

	.layout-1up-featured .post-summary__title,
	.editor-styles-wrapper .layout-1up-featured .post-summary .post-summary__title {
		font-size: var(--wp--preset--font-size--big);
	}

	.layout-1up-featured .post-summary__content {
		background: var(--wp--preset--color--background);
		max-width: 336px;
		margin-left: auto;
		padding: var(--wp--custom--layout--block-gap-large);
		position: relative;
		z-index: 2;
	}

	.layout-1up-featured .post-summary__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.layout-1up-featured .post-summary__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* More Link */

.block-post-listing header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.block-post-listing__title {
	flex-basis: 0;
	flex-grow: 1;
	max-width: var(--wp--custom--layout--content);
}

.block-post-listing footer {
	text-align: right;
	margin-top: var(--wp--style--block-gap);
}

.block-post-listing__more {
	margin-bottom: var(--wp--style--block-gap);
}

.block-post-listing__more .wp-block-button__link {
	line-height: var(--wp--custom--line-height--normal);
	text-decoration: underline;
}

.block-post-listing__more.wp-block-button.is-style-arrow .wp-block-button__link:is(:focus, :hover) {
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.block-post-listing header .block-post-listing__more {
		display: none;
	}
}

@media only screen and (min-width: 601px) {
	.block-post-listing footer {
		display: none;
	}
}

/* Layouts */

.block-post-listing__inner {
	display: grid;
	grid-template-columns: repeat( var(--cwp-columns, 1), 1fr );
	column-gap: 8px;
	row-gap: 16px;
}

.layout-sidebar-grid {
	--cwp-columns: 2;
}

@media (max-width: 600px) {

	.layout-4up-grid,
	.layout-6up-grid {
		--cwp-columns: 2;
	}

	.post-summary.m-list {
		display: grid;
		grid-template-columns: 138px 1fr;
	}
}

@media (min-width: 601px) {

	.block-post-listing__inner {
		column-gap: 32px;
		row-gap: 32px;
	}

	.block-area-sidebar .block-post-listing__inner {
		column-gap: 8px;
		row-gap: 16px;
	}

	.layout-4up-2x2,
	.layout-4up-text {
		--cwp-columns: 2;
	}

	.layout-3up-list,
	.layout-3up-full,
	.layout-3up-featured,
	.layout-6up-text {
		--cwp-columns: 3;
	}

	.layout-4up-grid,
	.layout-4up-full,
	.layout-4up-featured,
	.layout-4up-list {
		--cwp-columns: 4;
	}

	.layout-5up-featured,
	.layout-5up-list {
		--cwp-columns: 5;
	}

	.layout-6up-featured,
	.layout-6up-grid,
	.layout-6up-list {
		--cwp-columns: 6;
	}

	.post-summary.d-list {
		display: grid;
		grid-template-columns: 138px 1fr;
	}

}
