/* ------- BANNER SETUP ------- */
body, html{margin:0; padding:0;}
#wrapper{
  width:728px; height:90px;
  overflow:hidden;
  position:absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid #111;
  background:#000000;
}
#content{
  width:728px; height:90px;
  position:relative; top:0; left:0;
  perspective: 728px; -webkit-perspective: 728px;
}
.hideMe{visibility:hidden;}


/*-------- This is the Glimmer effect. This CSS shouldn't change ------------*/

.glimmer { display: inline-block; background: url('img/glim.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; position:absolute; }
.glimmer {background-position: 0px 0px; width:72px; height:40px; }



/*------ Set the parameters for your CSS elements below -------*/

.swipe {
  background-image: url("img/swipe.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -300px;
  top: 0px;
  width: 294px;
  height: 541px;
  z-index: 5;
}
.footer {
  background-image: url("img/footer.png");
  position: absolute;
  left: 484px;
  top: 0px;
  width: 244px;
  height: 91px;
  z-index: 6;
}
.swipe2 {
  background-image: url("img/swipe.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -300px;
  top: 0px;
  width: 294px;
  height: 541px;
  z-index: 7;
}
.slide1 {
  background-image: url("img/slide1.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 733px;
  height: 92px;
  z-index: 4;
}
.slide2 {
  background-image: url("img/slide2.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 735px;
  height: 92px;
  z-index: 3;
}
.background {
  background-image: url("img/background.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 730px;
  height: 91px;
  z-index: 2;
}






/* ------- OTHER CSS ------- */

#glimmer-cta-box {
	position: absolute;
	left: 590px;
	top: 24px;
	width: 102px;
	height: 38px;
	border-width: 0px;
	border: 0px solid transparent;
	overflow: hidden;
	z-index: 900;
/*	border-radius: 4px;*/
}
#glimmer-cta {
    position: relative;
      top:0px;
      left: -68px;
	  border-width:0px;
	  border: 0px solid transparent;
}
/* Removes border on pesky IE */
#glimmer-cta img {text-decoration: none; border: 0px}

#rolloverCatch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    cursor: pointer;
}
